/* DASHBOARD */
body {
  font-family: 'Mulish', sans-serif;
  background-color: #F7FFF2;
  text-decoration: none;
}

ul { /* Vertical Navbar Design */
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #5AB862;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a { /* Vertical Navbar Design Each*/
  display: block;
  color: #F7FFF2;
  padding: 20px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

li a.active { /* Vertical Navbar Design Each when Active */
  background-color: #F7FFF2;
  color: #284D17;
  text-decoration: underline;
}

li a:hover:not(.active) { /* Vertical Navbar Design Each when not Active */
  background-color: #F7FFF2;
  color: #284D17;
}

.logo-style { /* Navbar Logo */
  margin-top: -6%;
  margin-left: 20px;
  width: 20%;
}

.navbar-brand { /* Navbar Name */
  margin-top: 8%;
  font-weight: 700;
  font-size: 40px;
  padding-top: 2%;
  color: #F7FFF2;
}

.hello-text{ /* Welcome Back Text */
  margin-top: 50px;
  color: #284D17;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}

.tab-one{ /* Dashboard Navbar Name */
  margin-top: 10%;
}

.tabcontent { /* The content of each tab */
  display: block;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  margin-left: 28%;
}

.dashboard-text{ /* Dashboard Top Name */
  margin-top: 10%;
  margin-bottom: 2%;
  font-weight: 700;
  color: #284D17;
}

.value-button{
  margin-bottom: 5%;
}

.temp-button, .moist-button, .weight-button{
  background-color: #3A6E21;
  color: #F7FFF2;
  margin-top: 2%;
  margin-bottom: 3%;
}

.bars-style{
  color: #3A6E21;
}

.dropdown-style{ /* Notification Bell Icon */
  float: right;
  margin-top: 5%;
  font-size: 35px;
  height: 52px;
}

.dropdown-style:hover { /* Notification Bell Icon when in hover */
  color: #9E5218;
}

.menu-style { /* Notification Box Design */
  background-color: #F7FFF2;
}

.date-notif{ /* Date Notification */
  text-align: left;
  margin-left: 10px;
}

.notif-message{ /* Notidication Message */
  width: 500px;
}

td, th { /* Table History Design */
  border: 5px solid #dddddd;
  text-align: center;
  padding: 8px;
  width: 30%;
}

h4{
  font-weight: 700;
}

@media (max-width: 1198px) {
  .brand-li{
    text-align: center;
    margin-top: 5%;
  }
  .logo-style{
    width: 10%;
    margin-left: 0;
  }
  .navbar-brand{
    font-size: 20px;
  }
}

@media (max-width: 1038px) {
  .dashboard-text{
    font-size: 25px;
  }
}

@media (max-width: 1024px) {
  .dashboard-text{
    margin-top: 15%;
  }

}

@media (max-width: 1021px) {
  .hello-text{
    font-size: 25px;
  }
  .dashboard-text{
    margin-top: 20%;
  }
  .dropdown-style{
    margin-top: 15%;
  }
}

@media (max-width: 935px) {
  .dashboard-text{
    font-size: 20px;
  }
}

@media (max-width: 769px) {
  .dashboard-text{
    margin-top: 30%;
  }
  .hello-text{
    font-size: 20px;
  }
  .col-md-6 {
    width: 50%;
    display: inline-block;
    float: none;
  }
  .div-dropdown{
    margin-top: 2%;
  }
  .bars-style{
    font-size: 30px;
  }
}

@media (max-width: 601px) {
  .hello-text, li a{
    font-size: 15px;
  }
}

@media (max-width: 577px) {
  .dashboard-text{
    font-size: 20px;
    margin-top: 40%;
  }
  .bars-style{
    font-size: 25px;
  }
}

@media (max-width: 561px) {
  td, th { /* Table History Design */
    border: 5px solid #dddddd;
    text-align: center;
    padding: 5px;
    width: 30%;
  }
}

@media (max-width: 533px) {
  .navbar-brand{
    font-size: 15px;
  }
  .brand-li{
    margin-top: 10%;
  }
}

@media (max-width: 491px) {
  td, th { /* Table History Design */
    border: 5px solid #dddddd;
    text-align: center;
    padding: 3px;
    width: 30%;
  }
}

@media (max-width: 426px) {
  .logo-style{
    display: none;
  }
  .navbar-brand{
    font-size: 12px;
  }
  .brand-li{
    margin-left: 15px;
    margin-top: 15%;
  }
  .navbar-brand, .hello-text, li a{
    font-size: 10px;
  }
  .dashboard-text{
    font-size: 15px;
    margin-top: 35%;
  }
  .bars-style{
    font-size: 18px;
  }
  .div-dropdown{
    padding-top: 0;
    margin-top: 0;
  }
  td, th { /* Table History Design */
    font-size: 10px;
    border: 5px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 30%;
  }
}

@media (max-width: 376px) {
  td, th { /* Table History Design */
    font-size: 8px;
    border: 5px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 30%;
  }
}