body {
  font-family: 'Mulish', sans-serif;
  overflow-x: hidden;
}

/*TITLE SECTION*/
#title {
  background-image: linear-gradient(#6AD973, #5AB862);
  height: 49%;
}

.navbar-style {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  background-color: #6AD973;
  padding-top: 1rem;
  padding-right: 4rem;
}

.logo-style {
  width: 3%;
}

.navbar-brand {
  color: #F7FFF2;
}

.links {
  color: white;
  margin: 1rem;
}

.links-button {
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem;
  padding: 0.5rem 2rem;
  color: white;
}

.title-description {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: white;
  padding: 35% 0 0 25%;
}

.title-subdescription {
  font-family: 'Mulish', sans-serif;
  font-size: 1.1rem;
  color: white;
  padding-top: 2%;
  padding-left: 25%;
}

.title-image {
  width: 90%;
  padding: 15% 0 15% 15%;
}

/*TESTIMONIALS-SECTION*/
#testimonials {
  background-color: #F7FFF2;
  padding: 8% 14% 15px 14%;
  text-align: center;
}

.testimonials-header {
  font-family: 'Josefin Sans', sans-serif;
  color: #3A6E21;
  margin-bottom: 50px;
}

.vermione-img {
  float: left;
  margin-right: 4%;
  margin-bottom: 5%;
  border-radius: 10px;
  width: 500px;
  height: 500px;
}

.testimonial-text {
  margin-top: 5%;
  font-size: 20px;
  text-align: justify;
  color: #3A6E21;
}

.testimonial-author {
  text-align: left;
  color: #B0B0B0;
}

.testimonial-texttwo {
  margin-top: 10%;
  font-size: 20px;
  text-align: justify;
  color: #3A6E21;
}

.testimonial-authortwo {
  text-align: left;
  color: #B0B0B0;
}

.carousel-control-prev:hover {
  background-color: #B0B0B0;
}

.carousel-control-next:hover {
  background-color: #B0B0B0;
}

/*ABOUT SECTION*/
#about {
  margin-top: 110px;
}

.about-image {
  border-radius: 15px;
  margin-left: 15%;
  margin-bottom: 120px;
  width: 600px;
}

.about-header {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
  color: #3A6E21;
}

.about-body {
  text-align: justify;
  font-size: 18px;
  font-weight: 500;
  margin-right: 8%;
  color: #3A6E21;
}

/*FOOTER SECTION*/
#footer {
  background-color: #5AB862;
  text-align: center;
  padding: 3% 14%;
  color: white;
}

.footer-left {
  text-align: left;
}

.footer-header {
  font-family: 'Josefin Sans', sans-serif;
}

.footer-logo {
  width: 8%;
  margin-bottom: 10px;
}

.footer-brand {
  color: #F7FFF2;
  font-size: 30px;
}

.footer-brand:hover {
  text-decoration: none;
  color: #9E5218;
}

.footer-body {
  padding-right: 20%;
}

.foot-text {
  margin-top: 20px;
}

.footer-right {
  text-align: left;
}

.footer-right-header {
  font-weight: 700;
}

.footer-envelope {
  margin-right: 10px;
}

.foot-icon-left {
  font-size: 19px;
  margin-top: 8px;
  padding-left: 50px;
  color: #F7FFF2;
}

.foot-icon-left:hover {
  text-decoration: none;
  color: #9E5218;
}

/*VIEWPORTS*/
@media (max-width: 1024px) {
  #title {
    height: 670px;
  }

  .title-description {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: white;
    padding: 40% 0 0 25%;
  }

  .title-image {
    width: 90%;
    padding: 30% 0 15% 15%;
  }

  /*TESTIMONIALS-SECTION*/
  #testimonials {
    background-color: #F7FFF2;
    padding: 10% 14% 15px 14%;
    text-align: center;
  }

  .vermione-img {
    float: left;
    margin-right: 4%;
    margin-bottom: 5%;
    border-radius: 10px;
    width: 200px;
    height: 200px;
  }

  .testimonial-text {
    margin-top: 0px;
    font-size: 20px;
    text-align: justify;
    color: #3A6E21;
  }

  .testimonial-texttwo {
    margin-top: 0px;
    font-size: 20px;
    text-align: justify;
    color: #3A6E21;
  }

  /*ABOUT SECTION*/
  .about-image {
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 120px;
    width: 400px;
    height: 400px;
  }

  .about-body {
    text-align: justify;
    font-size: 13px;
    font-weight: 500;
    margin-right: 8%;
    color: #3A6E21;
  }
}

@media (max-width: 768px) {
  /*TITLE SECTION*/
  #title {
    height: 700px;
  }

  .logo-style {
    width: 5%;
  }

  .title-description {
    font-size: 4rem;
    padding-top: 200px;
    padding-left: 80px;
  }

  .title-subdescription {
    padding-left: 80px;
  }

  .title-image {
    display: none;
  }

  /*TESTIMONIALS-SECTION*/
  #testimonials {
    background-color: #F7FFF2;
    padding: 8% 14% 15px 14%;
    text-align: center;
  }

  .vermione-img {
    display: none;
  }

  .testimonial-text, .testimonial-texttwo {
    text-align: center;
  }

  .testimonial-authortwo {
    text-align: left;
    color: #B0B0B0;
  }

  /*ABOUT SECTION*/
  #about {
    margin-top: 110px;
  }

  .about-image {
    display: none;
  }

  .about-header {
    margin-top: 10px;
    text-align: center;
  }

  .about-body {
    text-align: center;
    font-size: 17px;
    margin: 10px 50px;
    color: #3A6E21;
  }

  .last-body {
    margin-bottom: 50px;
  }
}

@media (max-width: 425px) {
  body{
    width: 600px;
  }

  .title-description {
    padding: 10% 0 0 5%;
    font-size: 2rem;
  }

  .title-subdescription {
    padding-left: 5%;
    font-size: 0.8rem;
  }

  .title-image {
    width: 100%;
    padding: 15% 0 15% 5%;
  }

  .vermione-img {
    float: none;
    margin: auto;
    width: 300px;
    height: 300px;
  }

  .about-image {
    margin-left: 0;
    width: 300px;
  }

  .footer-body {
    padding-right: 0;
  }
}

@media (max-width: 375px) {
  .title-description {
    padding-top: 200px;
  }

  .title-subdescription {
    padding-left: 80px;
  }
}


@media (max-width: 320px) {
  .title-description {
    font-size: 30px;
  }

  #features {
    padding: 50px;
  }

  .about-image {
    position: relative;
  }

  #footer {
    text-align: center;
  }

  .footer-button {
    width: 150px;
  }
}
