/* MAINPAGE */
body {
  font-family: 'Mulish', sans-serif;
  background-image: url(images/mainpagebackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  text-decoration: none;
}

a{
  color: #3A6E21;
}

.navbar-style {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  background-color: #5AB862;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.navbar-light .navbar-brand{
  color: #3A6E21;
}

.navbar-light .navbar-toggler{
  color: #3A6E21;
}

.logo-style {
  width: 5%;
}

.navbar-brand {
  color: #3A6E21;
  margin: 0;
}

.links {
  color: white;
  margin: 1rem;
}

.links-button {
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem;
  padding: 0.5rem 2rem;
  color: white;
}

.left-side {
  text-align: center;
  margin-top: 11%;
}

.welcome-text, .description-text {
  color: #3A6E21;
}

.welcome-text {
  font-weight: 700;
}

.description-text {
  margin-bottom: 3%;
}

.name-label {
  font-weight: 700;
  color: #3A6E21;
  padding-right: 40%;
  margin-bottom: 0px;
}

input, .signin-button {
  width: 50%;
  padding: 5px 20px;
  margin: 8px 0;
  border-radius: 6px;
  box-sizing: border-box;
}

.signin-button {
  background-color: #3A6E21;
  color: #F7FFF2;
  margin-top: 2%;
  margin-bottom: 3%;
}

.password-label {
  font-weight: 700;
  color: #3A6E21;
  padding-right: 40%;
  padding-top: 2%;
  margin-bottom: 0px;
}

.password-box {
  margin-bottom: 3%;
}

.forgot-text {
  font-weight: 600;
}

.signup-text {
  font-weight: 600;
}

.vermi-img {
  margin-top: 16%;
  margin-left: 15%;
}

.footer-style {
  color: #3A6E21;
  margin-left: 1.3%;
}

@media (max-width: 1351px){
  .vermi-img{
    width: 80%;
  }
}

@media (max-width: 1291px) {
  .vermi-img{
    width: 70%;
    margin-top: 20%;
  }
}

@media (max-width: 992px) {
  body{
    background-image: none !important;
    background-color: #F7FFF2;
  }
  .bars-style {
    color: #3A6E21;
    font-size: 22px;
  }
  .vermi-img{
    display: none;
  }
  ul.navbar-nav.ml-auto {
    text-align: center;
  }
}

@media (max-width: 770px) {
  .left-side{
    margin-top: 20%;
  }
}

@media (max-width: 551px) {
  .left-side{
    margin-top: 30%;
  }
}

@media (max-width: 462px) {
  .footer-style{
    text-align: center;
  }
}