/* DASHBOARD */
body {
  font-family: 'Mulish', sans-serif;
  background-image: url(images/dashboardbackground.jpg);
  background-size: cover;
  overflow-x: hidden;
  text-decoration: none;
}

ul { /* Vertical Navbar Design */
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #5AB862;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a { /* Vertical Navbar Design Each*/
  display: block;
  color: #F7FFF2;
  padding: 20px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

li a.active { /* Vertical Navbar Design Each when Active */
  background-color: #F7FFF2;
  color: #284D17;
}

li a:hover:not(.active) { /* Vertical Navbar Design Each when not Active */
  background-color: #F7FFF2;
  color: #284D17;
}

.logo-style { /* Navbar Logo */
  margin-top: -6%;
  margin-left: 20px;
  width: 20%;
}

.navbar-brand { /* Navbar Name */
  margin-top: 8%;
  font-weight: 700;
  font-size: 40px;
  padding-top: 2%;
  color: #F7FFF2;
}

.hello-text{ /* Welcome Back Text */
  margin-top: 50px;
  color: #284D17;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}

.tab-one{ /* Dashboard Navbar Name */
  margin-top: 10%;
}

.tabcontent { /* The content of each tab */
  position: absolute;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  margin-left: 28%;
}

.dashboard-text{ /* Dashboard Top Name */
  margin-top: 5.5%;
  margin-bottom: 9%;
  font-weight: 700;
  color: #F7FFF2;
}

.dropdown-style{ /* Notification Bell Icon */
  position: absolute;
  top: 5%;
  right: 1%;
  color: #3A6E21;
  font-size: 35px;
  height: 52px;
}

.dropdown-style:hover { /* Notification Bell Icon when in hover */
  color: #9E5218;
}

.menu-style { /* Notification Box Design */
  background-color: #F7FFF2;
}

.date-notif{ /* Date Notification */
  text-align: left;
  margin-left: 10px;
}

th { /* Notification Message Design */
  border: 5px solid #dddddd;
  text-align: center;
  padding: 8px;
  width: 30%;
}

.notif-message{ /* Notidication Message */
  width: 500px;
}

.profile-row{
  text-align: left;
  width: 50%;
}

.info-row{
  padding-top: 7%;
}

.profile-img{
  float: left;
  width: 40%;
  margin-right: 20px;
  border-radius: 50%;
}

.profile-name{
  text-decoration: underline;
}

.profile-work{
  margin-top: 8%;
}

.profile-location{
  margin-top: 5%;
  margin-bottom: 0px;
}

.initial-weight,.initialweight-values{
  margin-top: 3%;
}

.initial-weight,.final-weight,.optimal-soil,.optimal-temp{
  margin-left: 2%;
}

.initialweight-values,.finalweight-values,.optimalsoil-values,.optimaltemp-values{
  margin-left: 2%;
  font-weight: 700;
}

.edit-button{
  margin-top: 2%;
}
