/* MAINPAGE */
body {
  font-family: 'Mulish', sans-serif;
  background-image: url(images/mainpagebackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  text-decoration: none;
}

.navbar-brand {
  font-weight: 700;
  padding-top: 2%;
  color: #3A6E21;
}

.threebars-style {
  position: absolute;
  left: 94.5%;
  bottom: 10%;
}

.bars-style {
  color: #F7FFF2;
  font-size: 22px;
}

.bars-style:hover {
  color: #9E5218;
}

.menu-style {
  background-color: #F7FFF2;
}

.dropdown-item {
  font-weight: 600;
  color: #3A6E21;
}

.home-icon {
  margin-left: 51px;
}

.about-icon {
  margin-left: 24px;
}

.contact-icon {
  margin-left: 15px;
}

a {
  color: #3A6E21;
}

a:hover {
  color: #9E5218;
}

.logo-style {
  padding-top: 1%;
  width: 3%;
}

.left-side {
  text-align: center;
  margin-top: 8%;
}

.welcome-text, .description-text {
  color: #3A6E21;
}

.welcome-text {
  font-weight: 700;
}

.description-text {
  margin-bottom: 3%;
}

.name-label {
  font-weight: 700;
  color: #3A6E21;
  padding-right: 40%;
  padding-top: 2%;
  margin-bottom: 0px;
}

.email-label{
  font-weight: 700;
  color: #3A6E21;
  padding-right: 45%;
  margin-bottom: 0px;
}

input, .signin-button {
  width: 50%;
  padding: 5px 20px;
  margin: 8px 0;
  border-radius: 6px;
  box-sizing: border-box;
}

.signin-button {
  background-color: #3A6E21;
  color: #F7FFF2;
  margin-top: 2%;
  margin-bottom: 3%;
}

.password-label {
  font-weight: 700;
  color: #3A6E21;
  padding-right: 40%;
  padding-top: 2%;
  margin-bottom: 0px;
}

.confirmpassword-label{
  font-weight: 700;
  color: #3A6E21;
  padding-right: 31%;
  margin-bottom: 0px;
}

.password-box {
  margin-bottom: 3%;
}

.forgot-text {
  font-weight: 600;
}

.signup-text {
  font-weight: 600;
}

.vermi-img {
  margin-top: 16%;
  margin-left: 15%;
}

.footer-style {
  position: absolute;
  top: 93%;
  color: #3A6E21;
  margin-left: 1.3%;
}
